.navigation {
  background-color: #c92a2a;
  color: #fff;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 100px;

  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 1;
}

.title {
  justify-self: start;
  font-size: 28px;
  font-weight: bold;
}
