/* 
MAIN COLOR: #c92a2a
GRAY COLOR: #212529

Font Grays: #f8f9fa , #f1f3f5, #e9ecef
*/

* {
  margin: 0;
  padding: 0;
  /* border: none; */
  box-sizing: border-box;
  line-height: 1;
}

body {
  font-family: "Inter", sans-serif;
  background-color: #212529;
  position: relative;
  color: #f8f9fa;
  border-top: 1px solid #c92a2a;
  /* overflow: hidden; */
}
